<p-table [value]="comments"
         dataKey="id"
         [autoLayout]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Type
            </th>
            <th>Comment
            </th>
            <th>Author
            </th>
            <th>Date
            </th>
            <th>
            </th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-commentBody>
        <tr>
            <td>{{commentBody.type}}</td>
            <td>{{commentBody.comment}}</td>
            <td>{{commentBody?.author}}</td>
            <td>{{commentBody.date}}</td>
            <td>
                <p-button type="button"
                          icon="pi pi-search"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>