<div class="costs-wrapper">
    <div class="costs-name">Costs</div>
    <div class="currency-selector">
        <div>Currency</div>
        <div>
            <p-dropdown [options]="exchangeRates?.paymentCurrencies!"
                        [ngModel]="selectedRate"
                        (ngModelChange)="calculateRate($event, 1)"
                        optionLabel="toCurrency"></p-dropdown>
        </div>
    </div>
    <div class="calculated-value">1 {{selectedRate.toCurrency}} = {{baseCourse}} {{selectedRate.fromCurrency}}</div>
    <div class="expenses-table">
        <macura-expense></macura-expense>
    </div>
</div>

<p-progressSpinner class="spinner"
                   *ngIf="(spinnerVisibility$ | async)"></p-progressSpinner>